# Blocklist files/folders in same directory as the .gitignore file
/*

# Include
!.gitignore
!.dependencies
!readme.mi
!.TODO

!.port/

!.config/
!.config/.gitignore

!.local/
!.local/.gitignore

# Ignore all files named '.DS_Store' ending with '.log'and containing '.log.' in the name
**/.DS_Store
**.log
**.log.**
