# Blocklist files/folders in same directory as the .gitignore file
/*

# Include
!.gitignore
!.dependencies
!readme.mi
!.TODO

!.port/

!.config/
!.config/.gitignore

!.local/
!.local/.gitignore

# Ignore all files containing '.DS_Store', ending with '.log' etc,.
**/.DS_Store
**.log
**.log.**
**.bak
