# Main .gitignore contains longer comments than child ones
# Order of files/folders position is semi-arbitrary, sometimes alphabetic



# Ignore files/folders in same directory as the .gitignore file
/*

# Include files/folders:
!.gitignore
!.packages
!readme.md
!.TODO

!.config/
!.config/.gitignore

!.local/
!.local/.gitignore

# Ignore all files/folders containing specific string in the whole repository
**/*.DS_Store # Ignore files/folders with name ".DS_Store"
**/*.log
**/*.log.* # Ignore files/folders containing ".log."
**/*.bak
