# Blocklist files/folders in same directory as the .gitignore file
/*

# Includelist some files
!.gitignore
!README.md

!bat
!btop
!dunst
!fish
!hypr
!kitty
!nvim
!rofi
!waybar

# KDE stuff (maybe not all of it is KDE (for sure))
!dolphinrc
!drkonqirc
!filetypesrc
!gtk-2.0
!gtk-3.0
!gtk-4.0
!gtkrc
!kate
!katerc
!katevirc
!kcminputrc
!kconf_updaterc
!kde.org
!kded5rc
!kdedefaults
!kdeglobals
!kglobalshortcutsrc
!kiorc
!konsolerc
!konsolesshconfig
!krdpserverrc
!kritadisplayrc
!kritarc
!kritashortcutsrc
!kscreenlockerrc
!ksmserverrc
!ksplashrc
!ktimezonedrc
!ktrashrc
!kwinoutputconfig.json
!kwinrc
!kwriterc
!plasma-localerc
!plasma-org.kde.plasma.desktop-appletsrc
!plasma-welcomerc
!plasmarc
!plasmashellrc

# Ignore all files named .DS_Store or ending with .log
**/.DS_Store
**.log
