# Blocklist files/folders in same directory as the .gitignore file
/*

# Includelist some files
!.gitignore
!README.md

!bat
!btop
!dunst
!fish
!hypr
!kitty
!nvim
!rofi
!waybar
!mimeapps.list

!qt5ct
!qt6ct
!gtk-2.0
!gtk-3.0
!gtk-4.0
!kate
!katerc
!kwriterc
!Kvantum

# Ignore all files named .DS_Store or ending with .log
**/.DS_Store
**.log
