[Desktop Entry]
Version=1.0
Type=Application
Name=PureRef
GenericName=Reference Image Viewer
Comment=PureRef - Simple and lightweight reference image viewer.
Exec=/home/pryniki/.appimages/PureRef-2.1.0_x64_beb62bc219dc57478741bfff1e76fed3.Appimage %U
Terminal=false
Icon=appimagekit_0bdc4b23c9951c0db89604f10bd66811_pureref
Categories=Graphics;
MimeType=application/pureref;
StartupNotify=true

TryExec=/home/pryniki/.appimages/PureRef-2.1.0_x64_beb62bc219dc57478741bfff1e76fed3.Appimage
X-AppImage-Old-Icon=pureref
X-AppImage-Identifier=0bdc4b23c9951c0db89604f10bd66811
Actions=AppImageLauncher-Remove-AppImage;
X-AppImageLauncher-Version=3.0.0-beta-2 (git commit release/tag), built on 2025-12-27 13:36:47 UTC

[Desktop Action AppImageLauncher-Remove-AppImage]
Name=Delete this AppImage
Icon=AppImageLauncher
Exec=/usr/lib/appimagelauncher/remove "/home/pryniki/.appimages/PureRef-2.1.0_x64_beb62bc219dc57478741bfff1e76fed3.Appimage"
